.card
{
  width: 300px;
  background: white;
  margin-left: 30px;
  padding: 10px;

}

.btn
{
  background: green;
  color: white;
  border-radius: 4px;
  font-size:medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-bottom: 6px;
  padding: 5px;

}
.text-success{
  color: green;
}
