
<!-- <button (click)="onAddCart()">Add to Cart</button> -->
<br><br>

<!-- <p> {{msg}} </p> -->

<!-- <input type="text" value="Harsh kumar" (click)="onInputClick($event)" >
<br><br>
<button value="Laptop" (click)="onAddCart($event)" >Laptop</button>
<button value="TV"  (click)="onAddCart($event)"  >Tv</button>
<button  value="Washing Machine" (click)="onAddCart($event)" >Washing Machine</button>

<p>{{msg}}</p> -->

<input #inputInfo type="text" value="Uxtrendz" name="Anup">
<button (click)="getInputInfo(inputInfo)">Get Info</button>
