
<!-- <app-my-container></app-my-container> -->
<!-- <app-databind></app-databind> -->

<!-- <app-class-style></app-class-style> -->

<!-- <app-eventbind></app-eventbind> -->
<!-- <app-two-ways></app-two-ways> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-push-and-splice></app-push-and-splice> -->

<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-items"><a class="nav-link active" routerLinkActive="active" routerLink="/">Home</a></li>
      <li class="nav-items"><a class="nav-link " routerLinkActive="active" routerLink="/about">About Us</a></li>
      <li class="nav-items"><a class="nav-link " routerLinkActive="active" routerLink="/products">Products</a></li>
      <li class="nav-items"><a class="nav-link " routerLinkActive="active"  routerLink="/contact">Contact Us</a></li>
      <li class="nav-items"><a class="nav-link " routerLinkActive="active"  routerLink="/notFound">Not Found</a></li>
      <li class="nav-items"><a class="nav-link " routerLinkActive="active"  routerLink="/buy-products">Buy Products</a></li>

    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
