<!-- <div class="box">
  <h2>Contact Us</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos est consequatur voluptas sequi nihil suscipit obcaecati a culpa voluptate, saepe impedit, soluta exercitationem officiis vitae odit quam, voluptatem error.
  </p>

  <div class="row">
    <div class="col-md-6">
      <div class="card" >
        <div class="card-body">
          <h1>Laptop</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a  routerLink="laptop"  class="btn btn-sucess">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" >
        <div class="card-body">
          <h1>Laptop</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a  routerLink="laptop"  class="btn btn-sucess">Know More</a>
        </div>
      </div>

    </div>

    <hr class="mb-3">


  </div>

</div>
 -->
 <div class="box">
  <div class="text-center">
   <h2>Contacts</h2>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos est consequatur voluptas sequi nihil suscipit obcaecati a culpa voluptate, saepe impedit, soluta exercitationem officiis vitae odit quam, voluptatem error.
 </p>
  </div>text-center

  <!-- <hr class="mb-3">
  <div class="row">
   <div class="col-md-12">
     <div class="card" style="width: 18rem;">
       <div class="card-body">
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a routerLink="laptop"  class="btn btn-sucess">Know More</a>
       </div>
     </div>


     <div class="card" style="width: 18rem;">
       <div class="card-body">
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a routerLink="washing_Machine" class="btn btn-sucess">Know More</a>
       </div>
     </div>


     <hr class="mb-3">
     <div class="card" style="width: 18rem;">
       <div class="card-body">
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a routerLink="Tv" class="btn btn-sucess">Know More</a>
       </div>
     </div>

     <div class="card" style="width: 18rem;">
       <div class="card-body">
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a  routerLink="mobile" class="btn btn-sucess">Know More</a>
       </div>
     </div>
     <hr class="mb-3">

   </div>
  </div> -->
   <!-- Card1 implement -->

   <div class="cardArrange">
  <!-- <app-card1></app-card1> -->


     <!-- Card1 implement -->
     <app-card2></app-card2>

    </div>

</div>

