<div class="txt-sec">
  <h2 class="heading-red">Develop Across All Platforms</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid architecto temporibus perspiciatis, fugiat similique eius reprehenderit facere veniam laudantium numquam vero! Officiis nobis sit facere at, consectetur eaque possimus quaerat veritatis ex alias amet, illo excepturi quas, maxime commodi illum ducimus ad pariatur. Fugiat rem, ad recusandae cumque expedita necessitatibus!</p>
  <a href="#" class="btn btn-red">Learn More</a>
  <div class="Clear"></div>
</div>

